{
    "connection": {
        "host": "dbhost.example.org",
        "port": 5432,
        "database": "mydatabase",
        "user": "myusername",
        "password": "mypassword"
    },
    "schema": "public",
    "labelPointField": "labelpoint",
    "polygonField": "geom",
    "idField": "id",
    "tempTableName": null
}